music_api/front/static/
.idea/
music_spider/get_data/__pycache__/SongComment.cpython-35.pyc
music_spider/.idea
music_api/.idea
music_api/api/migrations/0*.py
music_api/analysis/migrations/0*.py
music_spider/config.json
music_spider/get_data/*.txt
music_spider/sql_manage/*.txt
music_spider/test/*.txt
music_analysis/.ipynb_checkpoints/
*/__pycache__/
*/.ipynb_checkpoints/
music_spider/get_data/.ipynb_checkpoints/
music_spider/get_data/__pycache__/*.pyc
music_analysis/*.csv
music_analysis/*.txt
